argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
bcrypt==4.2.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
idna==3.10
iniconfig==2.0.0
joblib==1.4.2
nltk==3.9.1
packaging==24.1
pluggy==1.5.0
pycparser==2.22
pytest==8.3.3
regex==2024.9.11
requests==2.32.3
tqdm==4.66.6
urllib3==2.2.3
